<footer>
	©
	<!-- {{with .Site.Params.startDate}}
	{{dateFormat "2006" .}}-
	{{- end}} -->
	{{- dateFormat "2006" now}} {{ with .Site.Copyright }} {{ . }} {{ end }}
	Built with <a href="https://gohugo.io">Hugo</a> /
	Theme ST1 inspired by <a href="https://github.com/J-Siu/hugo-theme-sk1/">SK1</a>
</footer>

{{ if .Params.math }}
<script>
  MathJax = {
    tex: {
      inlineMath: [["$", "$"]],
    },
    displayMath: [
      ["$$", "$$"],
      ["\[\[", "\]\]"],
    ],
    svg: {
      fontCache: "global",
    },
  };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
{{ end }}